<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Arithemtic expressions in python
* Data Sicence Tools
* Utilizing Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Pytorch|
|MLFlow|

<h3> Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# "This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [3]:
# "This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335